.left-menu {
    display: flex;

    flex-direction: column;

    flex-basis: 15%;
    margin: 0.75%;
    padding: 0.75%;
    border-radius: 20px;

    background-color: #F3F3F3;
}

/* upper */

.menu-header {
    transition: 0.3s;

    display: flex;

    width: 100%;

    min-height: 10%;    

    background-color: #F3F3F3;
}
.menu-header > h2 {
    background-color: #F3F3F3;
}
/* middle */

.menu-wrapper {
    display: flex;
    flex-direction: row;

    justify-content: space-between;
}

.menu-tasks {
    display: flex;
    
    min-height: 45%;
    flex-grow: 4;
    flex-direction: column;

    background-color: #F3F3F3;
}
.menu-surname {
    font-size: 18px;
    color: #535353;

    background-color: #F3F3F3;
}
.menu-current-tasks {
    display: flex;
    flex-direction: column;

    margin-left: 5%; 

    background-color: #F3F3F3;
}
.menu-task {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

    font-size: 16px;
    font-weight: normal;

    transition: 0.3s;

    background-color: #F3F3F3;
}

.menu-task:hover {
    color: white;
    background: #EBEBEB;
}
.menu-name {
    font-weight: normal;

    cursor: pointer;
    background-color: #F3F3F3;
}
.menu-value-tasks {
    width: 1.5em;
    height: 1.5em;

    border-radius: 7.5px;

    display: flex;
    justify-content: center;
    align-items: center;

    font-size: 12px;
    background-color: #EAEAEA;
    transition: 0.4s;

    &:hover {
        background-color: #db0d58;
        color: white;
    }
}
.add-array {
    display: flex;
    flex-direction: row;
}
.menu-task-add {
    display: flex; 

    align-items: center;

    font-size: 16px;
    font-weight: normal;
    color: gray;
}
.menu-task-add:before {
    content: '+';

    display: flex;
    justify-content: center;
    align-items: center;
    align-self: center;
    margin-right: 5%;

    font-weight: bold;
    font-size: 18px;
}

/* footer */

.menu-lists {
    display: flex;
    flex-direction: column;
    
    min-height: 45%;
    flex-grow: 4;

    background-color: #F3F3F3;
}
.menu-current-lists {
    display: flex;
    flex-direction: column;

    margin-left: 5%; 

    background-color: #F3F3F3;
}