.menu-admin-lists {
  display: flex;

  min-height: 45%;
  flex-grow: 4;
  flex-direction: column;

  background-color: #f3f3f3;
}
.menu-admin-posts {
  display: flex;
  flex-direction: column;

  min-height: 45%;
  flex-grow: 4;

  background-color: #f3f3f3;
}
.list-wrapper {
  display: flex;
  flex-direction: row;

  justify-content: space-between;
}

