.right-side {
  display: flex;

  flex-direction: column;

  flex-basis: 40%;
  margin: 0.75%;
  padding: 0.75%;
  border-radius: 20px;

  background-color: #f3f3f3;
}
.side-task-info {
  min-height: 80%;

  background-color: #f3f3f3;
}
.side-task-setting {
  width: 100%;
  height: 100%;
  background-color: #f3f3f3;
}
.side-desc-task {
  height: 20%;
  width: 80%;
  resize: none;

  font-size: 16px;
  padding: 8.5px;
  border: none;
  border-radius: 10px;
  background: #f3f3f3;
  box-shadow: 7px 7px 14px #cfcfcf, -7px -7px 14px #ffffff;
}

.side-task-date-menu {
  width: 80%;
  padding: 8.5px;
  margin-top: 5%;
  margin-bottom: 5%;
  border-radius: 10px;
  background: #f3f3f3;
  box-shadow: 7px 7px 14px #cfcfcf, -7px -7px 14px #ffffff;
}
.side-task-date-menu > li {
  background-color: #f3f3f3;
}
.circle-picker {
  margin-top: 5%;
}
.circle-picker,
.circle-picker span {
  background-color: #f3f3f3;
}
.side-task-commit-changes {
  transition: 0.3s;

  display: flex;

  justify-content: space-around;
  background-color: #f3f3f3;
}
.side-buttons {
  transition: 0.8s;
  height: 50px;
  width: 170px;
  border: 1px solid rgb(210, 210, 210);
  border-radius: 10px;
}
.side-save-task {
  background-color: #ffdd00;
  border: 1px solid #ffdd00;
}

.disabled {
  background-color: transparent;
  border-color: #db0d58;
  color: #db0d58;
  pointer-events: none;
}

.dropdown-menu {
  border: 1px solid rgb(210, 210, 210);
  background-color: #f3f3f3;
  border-radius: 0px;
}
.dropdown-menu-item {
  -webkit-appearance: none;
  -moz-appearance: none;
  -o-appearance: none;
  appearance: none;
}
.my-node-enter {
  opacity: 0.6;
  border: 1px solid rgb(210, 210, 210);
  background-color: #f3f3f3;
}
.my-node-enter-active {
  opacity: 1;
  transition: opacity 1200ms;
}
.my-node-exit {
  opacity: 1;
  transition: opacity 1200ms;
  border-color: #db0d58;
  color: #db0d58;
}
.my-node-exit-active {
  transition: opacity 1200ms;
  border-color: #db0d58;
  color: #db0d58;
}
